<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/advtemp.css' %}">
</head>
<body>
<div>
<ul>
    <li><a href="/movies">Movies</a> </li>
    <li><a href="/sports">Sports</a> </li>
    <li><a href="/politics">Politics</a> </li>
</ul>
</div>
<div>
    {% block body_block%}
    <!-- outside of this block everything available to child tmeplates -->
    {% endblock %}
</div>
</body>
</html>