<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
<form method="POST" action="{% url employees:insert %}">
    {% csrf_token %}
    <table>
        <div>
            <label>First Name</label>
            <input type="text" name="firstname">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lastname">
        </div>
        <div>
            <label>Age</label>
            <input type="number" name="age">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </table>

</form>
</body>
</html>