anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
beautifulsoup4==4.11.1
bleach==5.0.1
boto3==1.23.7
botocore==1.26.7
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
coverage==6.4.1
cycler==0.11.0
Cython==0.29.23
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.4
django-classy-tags==3.0.1
django-cors-headers==3.11.0
django-crispy-forms==1.14.0
django-filter==21.1
django-js-asset==2.0.0
django-mptt==0.13.4
django-nyt==1.2.2
django-rest-swagger==2.2.0
django-sekizai==3.0.1
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.1.0
drf-yasg==1.20.0
filelock==3.6.0
fonttools==4.33.3
gensim==4.1.2
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.11.3
inflection==0.5.1
iniconfig==1.1.1
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.1.0
kiwisolver==1.4.2
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.0
nose2==0.11.0
numpy==1.22.3
openapi-codec==1.3.2
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
platformdirs==2.5.2
pluggy==1.0.0
psutil==5.9.0
py==1.11.0
PyJWT==1.7.1
PyMySQL==1.0.2
pyparsing==3.0.8
pytest==7.1.2
pytest-html==3.1.1
pytest-metadata==2.0.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
python-memcached==1.59
pytz==2022.1
regex==2022.4.24
requests==2.27.1
rfc3986==1.5.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
scipy==1.8.0
simplejson==3.17.6
six==1.16.0
smart-open==6.0.0
sniffio==1.2.0
sorl-thumbnail==12.8.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.2.0
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.14.1
webencodings==0.5.1
wiki==0.9
wikipedia==1.4.0
xlrd==2.0.1
xlwt==1.3.0
youtube-search-python==1.6.6
zipp==3.8.0
