{% extends 'students\base.html' %}

{% block content %}
<form method="POST" action="/students/save/">
    {% csrf_token %}
    <table>
        <div>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Age:</td>
                <td><input type="number" name="age"></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email"></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address"></td>
            </tr>
        </div>
        <div>
            <td><input type="submit" value="Submit"></td>
        </div>
    </table>

</form>
{% endblock %}