{% include 'base.html' %}

{% block content %}
<center><h1>List Of Employees</h1></center>
<center>
<table border="1">
    <thead>
    <b>
        <td>ID</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
    <td>Phone</td>
    <td>DOB</td>
    <td>Email</td>
    <td>Address</td>
    <td>Pincode</td>
        <td>Actions</td>
        </b>
    </thead>
    <tbody>
    {% for emp in employees %}
    <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.firstname}}</td>
        <td>{{emp.lastname}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.dob}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.pincode}}</td>
        <td>
            <a href="/employee/edit/{{emp.id}}">EDIT|</a>
               <a href="/employee/delete/{{emp.id}}">Delete</a>

        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
    </center>
{% endblock %}